@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NCLMonster";
    src: url("./assets/fonts/NCLMonsterBeast-Demo.otf") format("opentype");
    font-display: swap;
}
@font-face {
    font-family: "NCLArse";
    src: url("./assets/fonts/NCLArsegzone-Demo.otf") format("opentype");
    font-display: swap;
}

.font-mons {
  font-family: "NCLMonster", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.font-arse {
  font-family: "NCLArse", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer components {
  .SlotMachine{
    @apply overflow-hidden min-h-screen
  }
  .center-box{
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
  }
  .slot-item {
    @apply w-[240px] 
  }
  .slot-item {
    @apply text-[6rem] text-center flex items-center justify-center
  }
  .slot-container{
    @apply flex justify-center items-center h-fit gap-[2rem] relative overflow-hidden;
  }
  .button-container{
    @apply flex justify-center items-center gap-[2rem] mt-[2rem]
  }
  .spin-button{
    @apply cursor-pointer bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors;
  }
  .slot-token{
    @apply flex justify-end items-center min-h-full h-full overflow-hidden ;
  }
  .token{
    @apply border-2 p-4 rounded mb-4 flex justify-center items-center w-fit;
  }
  .loading-background{
    @apply  min-h-screen min-w-screen relative
  }
  .radar-blue{
    @apply  relative  rounded-full bg-[radial-gradient(circle_at_75%_30%,aqua_8%,darkblue_60%,aqua_100%)]
    shadow-[inset_0_0_20px_#fff,inset_10px_0_46px_#eaf5fc,inset_88px_0px_60px_#c2d8fe,inset_-20px_-60px_100px_#fde9ea,inset_0_50px_140px_#fde9ea,0_0_90px_#fff]
  }
  .radar-red{
    @apply  relative  rounded-full bg-[radial-gradient(circle_at_75%_30%,#ffcccc_0%,#ff4444_30%,#990000_70%,#ff0000_100%)]
    shadow-[inset_0_0_20px_#fff,inset_10px_0_46px_#eaf5fc,inset_88px_0px_60px_#c2d8fe,inset_-20px_-60px_100px_#fde9ea,inset_0_50px_140px_#fde9ea,0_0_90px_#fff]
  }
}

@layer utilities{
  @keyframes rotate-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animated-border::before {
    content: "";
    position: absolute;
    inset: -2px; /* expands border outside */
    padding: 2px; /* border thickness */
    background: conic-gradient(
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      violet,
      red
    );
    border-radius: inherit;
    animation: rotate-border 3s linear infinite;
    z-index: 0;
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }

  .animated-border > * {
    position: relative;
    z-index: 1; /* keep text above */
  }
}